{% extends 'estudiantes/base.html' %}

{% block main_content %}
{% load static %}
<link rel="stylesheet" href="{% static 'estudiantes/css/pago.css' %}">
<div class="container">
    <h1>Realiza el pago de tu <span>MATRÍCULA</span></h1>
    <div class="qr">
        <img src="data:image/png;base64,{{ qr_base64 }}" alt="QR de Yape" width="200">
    </div>
    <div class="details">
        <p>Monto: <span>S/ {{ monto }}</span></p>
        <p>Destinatario: <span>{{ destinatario }}</span></p>
    </div>
</div>
{% endblock %}