{% extends 'estudiantes/base.html' %}

{% block main_content %}
{% load static %}
<link rel="stylesheet" href="{% static 'estudiantes/css/perfil.css' %}">
<section class="perfil-header">
    <h1>Perfil de {{ estudiante.nombres }}</h1>
    <p>Revisa la información de tu cuenta a continuación.</p>
</section>

<div class="perfil-container">
    <div class="perfil-card">
        {% load static %}
        <img src="{% static 'estudiantes/images/user.png' %}" alt="Foto de Perfil" class="perfil-foto">
        <div class="perfil-info">
            <h2 id="nombres">{{ estudiante.nombres }} {{ estudiante.apellidos }}</h2>
            <p id="codigo_estudiante">{{ estudiante.codigo_estudiante }}</p>
        </div>
    </div>

    <div class="perfil-details">
        <h3>Descripción</h3>
        <p>Estudiante de Ingeniería de Sistemas con un interés particular en desarrollo web y bases de datos. Comprometido con el aprendizaje continuo y la mejora de habilidades.</p>

        <h3>Redes Sociales</h3>
        <div class="social-buttons">
            <a href="#" class="social-button">Facebook</a>
            <a href="#" class="social-button">Twitter</a>
            <a href="#" class="social-button">LinkedIn</a>
            <a href="#" class="social-button">Instagram</a>
        </div>
    </div>
</div>

<h2>Celular</h2>

<form method="post" action="{% url 'editar_celular' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="telefono">Número de Celular: </label>
    <input type="tel" value="{{ estudiante.telefono}}" id="telefono" name="telefono"  required disabled>

    <button type="button" id="btn_editar" onclick="activarEdicion()">Editar</button>
    <button type="submit" id="btn_guardar" style="display:none;">Guardar</button>
</form>

{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <p class="message">{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}

<script>
    // Función para activar el campo de celular para edición
    function activarEdicion() {
        // Habilitar el campo de celular para edición
        document.getElementById('telefono').disabled = false;
        
        // Mostrar el botón "Guardar"
        document.getElementById('btn_guardar').style.display = 'inline-block';

        // Ocultar el botón "Editar"
        document.getElementById('btn_editar').style.display = 'none';
    }
</script>

{% endblock %}