{% extends 'administrativos/dash.html' %}

{% block main_content %}
{% load static %}
<link rel="stylesheet" href="{% static 'estudiantes/css/Matricula.css' %}">
<section class="perfil-header">
    <h1>Matricula</h1>
    <p>Revisa tu matricula aqui.</p>
</section>

<div id="formulario-paginado">
    <!-- Paso 1: Datos Personales -->
 <form method="post">
    {% csrf_token %}
    <div class="form-page active" id="page1">
        <h2>Datos Personales</h2>
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" value="{{ nombre }}" class="form-control" id="nombre" name="nombre" required>
            </div>
            <div class="mb-3">
                <label for="apellido" class="form-label">Apellido</label>
                <input type="text" value="{{ apellido }}" class="form-control" id="apellido" name="apellido" required>
            </div>
            <div class="mb-3">
                <label for="codigo" class="form-label">Código</label>
                <input type="text" value="{{ codigo }}"class="form-control" id="codigo" name="codigo" required>
            </div>
            <div class="mb-3">
                <label for="escuela" class="form-label">Nombre de la Escuela</label>
                <input type="text" class="form-control" id="escuela" name="escuela" required>
            </div>
            <div class="mb-3">
                <label for="plan" class="form-label">Plan de Estudios</label>
                <input type="text" class="form-control" id="plan" name="plan" maxlength="4" required>
            </div>
            <div class="mb-3">
                <label for="celular" class="form-label">Celular</label>
                <input type="tel" class="form-control" id="celular" name="celular" maxlength="15" required>
            </div>
            <div class="mb-3">
                <label for="recibo1" class="form-label">Número de Recibo 1° Semestre</label>
                <input type="text" class="form-control" id="recibo1" name="num_recibo_primero" required>
            </div>
            <div class="mb-3">
                <label for="monto1" class="form-label">Monto de Recibo 1° Semestre</label>
                <input type="number" class="form-control" id="monto1" name="monto_recibo_primero" step="0.01" required>
            </div>
            <div class="mb-3">
                <label for="recibo2" class="form-label">Número de Recibo 2° Semestre</label>
                <input type="text" class="form-control" id="recibo2" name="num_recibo_segundo" required>
            </div>
            <div class="mb-3">
                <label for="monto2" class="form-label">Monto de Recibo 2° Semestre</label>
                <input type="number" class="form-control" id="monto2" name="monto_recibo_segundo" step="0.01" required>
            </div>
            <!-- <div class="mb-3">
                <label for="pdf" class="form-label">Cargar PDF</label>
                <input type="file" class="form-control" id="pdf3" name="pdf3" accept=".pdf" required>
            </div> -->
            <button type="button" class="btn btn-primary" onclick="nextPage()">Siguiente</button>
    </div>

    <div class="form-page" id="page2">
        <h2>Datos del Primer Semestre</h2>
        <div class="seleccion_cursos">
            <h3>Selecciona cuántos cursos deseas (Máximo 8)</h3>
            <div class="form_group">
                <label for="num_cursos_1">Número de cursos</label>
                <select id="num_cursos_1" class="form_style" onchange="mostrarCursos(1)">
                    <option value="0">Selecciona</option>
                    {% for i in "12345678" %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
    
            <!-- Selección de cursos -->
            {% for i in "12345678" %}
                <div class="form_group curso_seleccion" id="curso_group_1_{{ forloop.counter }}" style="display: none;">
                    <label for="curso1_{{ forloop.counter }}">Curso {{ forloop.counter }}</label>
                    <select id="curso1_{{ forloop.counter }}" name="curso1_{{ forloop.counter }}" class="form_style">
                        <option value="">Selecciona un curso</option>
                        {% for curso in cursos_semestre1 %}
                            <option value="{{ curso.codigo_curso}}">{{ curso.nombre}}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endfor %}
        </div>
        <button type="button" class="btn btn-secondary" onclick="prevPage()">Atrás</button>
        <button type="button" class="btn btn-primary" onclick="nextPage()">Siguiente</button>
    </div>
    
    <!-- Paso 3: Datos del Segundo Semestre -->
    <div class="form-page" id="page3">
        <h2>Datos del Segundo Semestre</h2>
        <div class="seleccion_cursos">
            <h3>Selecciona cuántos cursos deseas (Máximo 8)</h3>
            <div class="form_group">
                <label for="num_cursos_2">Número de cursos</label>
                <select id="num_cursos_2" class="form_style" onchange="mostrarCursos(2)">
                    <option value="0">Selecciona</option>
                    {% for i in "12345678" %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
    
            <!-- Selección de cursos -->
            {% for i in "12345678" %}
                <div class="form_group curso_seleccion" id="curso_group_2_{{ forloop.counter }}" style="display: none;">
                    <label for="curso2_{{ forloop.counter }}">Curso {{ forloop.counter }}</label>
                    <select id="curso2_{{ forloop.counter }}" name="curso2_{{ forloop.counter }}" class="form_style">
                        <option value="">Selecciona un curso</option>
                        {% for curso in cursos_semestre2 %}
                            <option value="{{ curso.codigo_curso}}">{{ curso.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endfor %}
        </div>
        <button type="button" class="btn btn-secondary" onclick="prevPage()">Atrás</button>
        <button type="submit" class="btn btn-success">Enviar</button>
    </div>
 </form>
</div>
<script>
    let currentPage = 1;

    function nextPage() {
        document.getElementById(`page${currentPage}`).classList.remove('active');
        currentPage++;
        document.getElementById(`page${currentPage}`).classList.add('active');
    }

    function prevPage() {
        document.getElementById(`page${currentPage}`).classList.remove('active');
        currentPage--;
        document.getElementById(`page${currentPage}`).classList.add('active');
    }

    function mostrarCursos(semestre) {
        let maxCursos = 8;
        for (let i = 1; i <= maxCursos; i++) {
// Ocultar todos los grupos de cursos
            document.getElementById(`curso_group_${semestre}_${i}`).style.display = 'none';
        }

// Mostrar los selectores según el número seleccionado
        let numCursos = document.getElementById(`num_cursos_${semestre}`).value;
        for (let i = 1; i <= numCursos; i++) {
            document.getElementById(`curso_group_${semestre}_${i}`).style.display = 'block';
        }
    }
</script>
{% endblock %}