{% extends 'consejeros/base.html' %}

{% block main_content %}
{% load static %}
<link rel="stylesheet" href="{% static 'consejeros/css/revisar_matriculas.css' %}">
<h1>Lista de Matriculas</h1>

<style>
    .btn-pdf {
        position: fixed; /* Posición fija respecto a la ventana */
        top: 100px; /* Espacio desde la parte superior */
        right: 20px; /* Espacio desde la parte derecha */
        padding: 10px 20px;
        background-color: #f04e31; /* Rojo vibrante */
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
    }

    .btn-pdf:hover {
        background-color: #c93d28; /* Rojo más oscuro para el hover */
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    }

    .btn-pdf:active {
        background-color: #a23020; /* Color más oscuro al hacer clic */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
</style>

<a href="{% url 'reporte_pdf' %}" class="btn-pdf" target="_blank">
    Descargar Report PDF
</a>

<div class="filter-form">
    <form method="GET">
        <label for="estado">Filtrar por Estado:</label>
        <select name="estado" id="estado" onchange="this.form.submit()">
            <option value="">Todos</option>
            <option value="P" {% if estado_seleccionado == "P" %}selected{% endif %}>Pendiente</option>
            <option value="A" {% if estado_seleccionado == "A" %}selected{% endif %}>Aceptada</option>
            <option value="R" {% if estado_seleccionado == "R" %}selected{% endif %}>Rechazada</option>
        </select>
    </form>
</div>

<div class="table-responsive">
    <table class="custom-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Escuela</th>
                <th>Código</th>
                <th>Nombre</th>
                <th>Semestre 1</th>
                <th>Semestre 2</th>
                <th>PDF1</th>
                <th>PDF2</th>
                <th>PDF3</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for matricula in matriculas %}
            <tr>
                <td>{{ matricula.id }}</td>
                <td>{{ matricula.escuela }}</td>
                <td>{{ matricula.codigo.codigo_estudiante }}</td>
                <td>{{ matricula.codigo.nombre }} {{ matricula.codigo.apellidos }}</td>
                <td>{% for curso in matricula.semestre1.all %} {{ curso.nombre }}<br>{% endfor %}</td>
                <td>{% for curso in matricula.semestre2.all %} {{ curso.nombre }}<br>{% endfor %}</td>
                <td><a href="{{ matricula.documentosmatricula.recibo_pago_1.url }}" target="_blank">Recibo del Primer Pago</a></td>
                <td><a href="{{ matricula.documentosmatricula.recibo_pago_2.url }}" target="_blank">Recibo del Segundo Pago</a></td>
                <td><a href="{{ matricula.documentosmatricula.boleta_notas.url }}" target="_blank">Boleta de Notas</a></td>
                <td>{{ matricula.estado }}</td>
                <td class="action-buttons">
                    <form method="POST" action="{% url 'actualizar_matricula' matricula.id %}">
                        {% csrf_token %}
                        <button type="submit" name="accion" value="aceptar">Aceptar</button>
                        <button type="submit" name="accion" value="rechazar">Rechazar</button>
                    </form>
                </td>
            </tr>
            {% empty %}
            <tr class="empty-row">
                <td colspan="11">No hay más matrículas.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}