{% extends 'consejeros/base.html' %}

{% block main_content %}
{% load static %}
<link rel="stylesheet" href="{% static 'consejeros/css/revisar_matriculas.css' %}">
<h1>Lista de Matriculas</h1>
<div class="filter-form">
    <form method="GET">
        <label for="estado">Filtrar por Estado:</label>
        <select name="estado" id="estado" onchange="this.form.submit()">
            <option value="">Todos</option>
            <option value="P" {% if estado_seleccionado == "P" %}selected{% endif %}>Pendiente</option>
            <option value="Aceptado" {% if estado_seleccionado == "Aceptado" %}selected{% endif %}>Aceptada</option>
            <option value="Rechazado" {% if estado_seleccionado == "Rechazado" %}selected{% endif %}>Rechazada</option>
        </select>
    </form>
</div>

<div class="table-responsive">
    <table class="custom-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Escuela</th>
                <th>Código</th>
                <th>Nombre</th>
                <th>Semestre 1</th>
                <th>Semestre 2</th>
                <th>PDF1</th>
                <th>PDF2</th>
                <th>PDF3</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for matricula in matriculas %}
            <tr>
                <td>{{ matricula.id }}</td>
                <td>{{ matricula.escuela }}</td>
                <td>{{ matricula.codigo.codigo_estudiante }}</td>
                <td>{{ matricula.codigo.nombre }} {{ matricula.codigo.apellidos }}</td>
                <td>{% for curso in matricula.semestre1.all %} {{ curso.nombre }}<br>{% endfor %}</td>
                <td>{% for curso in matricula.semestre2.all %} {{ curso.nombre }}<br>{% endfor %}</td>
                <td><a href="{{ matricula.documentosmatricula.recibo_pago_1.url }}" target="_blank">Recibo del Primer Pago</a></td>
                <td><a href="{{ matricula.documentosmatricula.recibo_pago_2.url }}" target="_blank">Recibo del Segundo Pago</a></td>
                <td><a href="{{ matricula.documentosmatricula.boleta_notas.url }}" target="_blank">Boleta de Notas</a></td>
                <td>{{ matricula.estado }}</td>
                <td class="action-buttons">
                    <form method="POST" action="{% url 'actualizar_matricula' matricula.id %}">
                        {% csrf_token %}
                        <button type="submit" name="accion" value="aceptar">Aceptar</button>
                        <button type="submit" name="accion" value="rechazar">Rechazar</button>
                    </form>
                </td>
            </tr>
            {% empty %}
            <tr class="empty-row">
                <td colspan="11">No hay más matrículas.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}