.btn-edit {
    background-color: #28a745; /* Verde */
    color: white; /* Texto blanco */
    border: none; /* Sin borde */
    padding: 8px 16px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar cursor */
    transition: background-color 0.3s; /* Transición suave */
}

.btn-edit:hover {
    background-color: #218838; /* Verde más oscuro al pasar el mouse */
}

.btn-delete {
    background-color: #dc3545; /* Rojo */
    color: white; /* Texto blanco */
    border: none; /* Sin borde */
    padding: 8px 16px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar cursor */
    transition: background-color 0.3s; /* Transición suave */
}

.btn-delete:hover {
    background-color: #c82333; /* Rojo más oscuro al pasar el mouse */
}